# 원본 바이트 보존
* -text

*.md            text eol=lf
.gitignore      text eol=lf
.gitattributes  text eol=lf
LICENSE         text eol=lf

*.exe   binary
*.dll   binary
*.o     binary
*.obj   binary
*.lib   binary
*.zip   binary
*.png   binary
*.jpg   binary
*.ico   binary
